name: CI

on:
  push:
    branches:
      - main
      - develop
      - 6
  pull_request:
    branches:
      - main
      - develop
      - 6
  workflow_dispatch:

permissions: {}

jobs:
  ci:
    name: CI
    uses: silverstripe/gha-ci/.github/workflows/ci.yml@v2
    permissions:
      pull-requests: read
      contents: write
      actions: write
